<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Systém pre organizáciu Atl.Pretekov</title>
    <link th:rel="icon"
          th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dataTables/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/dataTables/datatables.min.js}"></script>



</head>
<body>

<div class="topnav">
    <a  href="/">Preteky</a>
    <a href="/disciplines">Disciplíny</a>
    <a href="/applications">Prihlášky</a>
    <a  href="/results">Výsledky</a>
    <a class="active" href="#" onclick="openNav()">Databáza klubov a pretekárov</a>
    <a href="/disciplines/schedule">Časový poriadok</a>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/participants">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="#">Stiahnuť databázu</a>
    <a href="/contact">Kontakt</a>
</div>

<!-- Use any element to open the sidenav -->

<main th:id="main">
    <div th:class="heading_t">
        <!-- aktivny pretek -->
        <div th:id="addClub" th:class="addRace">
            <a>
                <label style="color: blue" th:class="div-button">
                    <img alt="addClub" class="plus" th:src="@{/images/plus.png}">
                    Pridať klub
                </label>
            </a>
        </div>
    </div>
    <hr>
    <table th:id="table">
        <thead>
        <tr th:id="first_tr" >
            <th>Názov klubu</th>
            <th>Logo</th>
            <th>Základňa</th>
            <th>Vedúci klubu</th>
            <th>Skratka klubu</th>
            <th>Editovať</th>
            <th>Zmazať</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="club: ${clubs}"  >
            <td th:text="${club.clubName}"></td>
            <td>
                <img th:src="@{${club.getLogoImage()}}"  style="margin-left: -10px; width: 70px;height: auto" alt="logo" />
            </td>
            <td th:text="${club.residence}"></td>
            <td th:text="${club.responsiblePerson}"></td>
            <td th:text="${club.shortcutClubName}"></td>
            <td ></td>
            <td ></td>
        </tr>
        </tbody>
    </table>
    <section>
        <form th:action="@{'/clubs/create'}" th:object="${newClub}" method="post"
        enctype="multipart/form-data">
            <div th:id="behind-scene" class="behind-scene">
                <div th:id="behind-scene-header" th:class="behind-scene-header">
                    <div th:class="inlineDescription">
                        <div th:id="first"  class="first div-button">
                            Klub
                        </div>
                    <div th:id="title" style="font-size: 30px" th:class="title">
                        Nový klub
                        <div th:class="exit">
                            <img th:id="exit" alt="exit"  th:class="exit" th:src="@{/images/exit.png}" >
                        </div>
                        <div th:class="input-div">
                            <label>
                                Názov klubu<span th:class="necessary"> *</span>
                                <input required autocomplete="off"
                                       oninvalid="this.setCustomValidity('Názov klubu nesmie byť prázdny.Zadaj znova')"
                                       onchange="this.setCustomValidity('')" th:field="*{clubName}" th:class="input-box" placeholder="Názov klubu" th:type="text">
                            </label>
                        </div>
                        <div th:class="input-div">
                            <label>
                                Skratka klubu<span th:class="necessary"> *</span>
                                <input required autocomplete="off"
                                       oninvalid="this.setCustomValidity('Skratka klubu nesmie byť prázdna.Zadaj znova')"
                                       onchange="this.setCustomValidity('')" th:field="*{shortcutClubName}" th:class="input-box" placeholder="Skratka klubu" th:type="text">
                            </label>
                        </div>
                        <div th:class="input-div">
                            <label>
                                Vedúci klubu<span th:class="necessary"> *</span>
                                <input required autocomplete="off"
                                       oninvalid="this.setCustomValidity('Vedúci klubu.Zadaj znova')"
                                       onchange="this.setCustomValidity('')" th:field="*{responsiblePerson}" th:class="input-box" placeholder="Vedúci klubu" th:type="text">
                            </label>
                        </div>
                        <div th:class="input-div">
                            <label>
                                Základňa klubu<span th:class="necessary"> *</span>
                                <input required autocomplete="off"
                                       oninvalid="this.setCustomValidity('Základňa klubu nesmie byť prázdna.Zadaj znova')"
                                       onchange="this.setCustomValidity('')" th:field="*{residence}" th:class="input-box" placeholder="Základňa klubu" th:type="text">
                            </label>
                        </div>
                        <div th:class="input-div">
                            <label>
                                Logo<span th:class="necessary"> *</span>
                                <input th:id="image" th:name="logoImage"
                                       oninvalid="this.setCustomValidity('Skús vybrať znovu logo')"
                                       onchange="this.setCustomValidity('')"  th:class="input-box"  th:type="file">
                            </label>
                        </div>
                        <img th:id="preview" th:src="@{/images/nologo.png}" style="width: 50px" th:alt="logoPreview">
                    </div>



                    <div th:id="behind-scene-body" th:class="behind-scene-body">
                        <div th:class="center">



                                <button value="Vytvoriť" type="submit" class="button-submit center">Vytvoriť</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay"></div>
<script th:src="@{/js/clubs.js}"></script>
<script th:src="@{/js/sideMenu.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/tables_new.css}"/>
</body>
</html>