<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Systém pre organizáciu Atl.Pretekov</title>
    <link th:rel="icon"
          th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">


</head>
<body>

<div class="topnav">
    <a  href="/">Preteky</a>
    <a href="/disciplines">Disciplíny</a>
    <a href="/applications">Prihlášky</a>
    <a  href="/results">Výsledky</a>
    <a class="active" href="#" onclick="openNav()">Databáza klubov a pretekárov</a>
    <a href="/disciplines/schedule">Časový poriadok</a>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/participants">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="#">Stiahnuť databázu</a>
    <a href="/contact">Kontakt</a>
</div>

<!-- Use any element to open the sidenav -->

<main th:id="main">
    <div th:class="heading_t">
        <!-- aktivny pretek -->
        <div th:id="addDiscipline" th:class="addRace">
            <a>
                <label style="color: blue" th:class="div-button">
                    <img alt="addParticipant" class="plus" th:src="@{/images/plus.png}">
                    Pridať pretekára
                </label>
            </a>

        </div>
    </div>
    <hr>
    <table th:id="table">
        <thead>
        <tr th:id="first_tr" >
            <th>Meno</th>
            <th>Klub</th>
            <th>Dátum narodenia</th>
            <th>Detaily</th>
            <th>Editovať</th>
            <th>Zmazať</th>
        </tr>

        </thead>
    </table>
</main>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay"></div>

<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/sideMenu.js}"></script>
</body>
</html>