<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Systém pre organizáciu Atl.Pretekov</title>
    <link th:rel="icon" th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>

<div class="topnav">
    <a class="active" href="#home">Preteky</a>
    <a href="#news">Disciplíny</a>
    <a href="#contact">Prihlášky</a>
    <a href="#about">Výsledky</a>
</div>

<main>
</main>
<section>
    <form th:action="@{'/editRace/'+${race.id}+'/'+${settings.id}+'/'+${track.id}}" method="post" th:object = "${race}">
        <div th:id="behind-scene" class="behind-scene active">
            <div th:id="behind-scene-header" th:class="behind-scene-header">
                <div th:class="inlineDescription">
                    <div th:id="first" class="first div-button">
                        Registrácia
                    </div>
                    <div th:id="second" class="second div-button">
                        Detaily
                    </div>
                    <div th:id="third" class="third div-button">
                        Nastavenia
                    </div>
                </div>
                <div th:id="title" th:class="title">
                    Editácia závodu
                    <div th:class="exit">
                        <a th:href="@{/}"><img th:id="exit"  th:class="exit" th:src="@{/images/exit.png}" alt="exit"></a>
                    </div>

                </div>

                <div th:id="behind-scene-body" th:class="behind-scene-body">
                    <div th:class="center">

                        <div th:id="registrationBlock">
                            <div th:class="input-div">
                                <label>
                                    Názov závodu<span th:class="necessary"> *</span>
                                    <input required
                                           oninvalid="this.setCustomValidity('Názov nesmie byť prázdny.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{raceName}" th:class="input-box" placeholder="Názov závodu" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Miesto Konania<span th:class="necessary"> *</span>
                                    <input required
                                           oninvalid="this.setCustomValidity('Miesto nesmie byť prázdne.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{place}" th:class="input-box" placeholder="Miesto konania" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Organizátor<span th:class="necessary"> *</span>
                                    <input required
                                           oninvalid="this.setCustomValidity('Pole organizátora nesmie byť prázdny.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{organizer}" th:class="input-box" placeholder="Organizátor" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Spracovateľ výsledkov<span th:class="necessary"> *</span>
                                    <input required
                                           oninvalid="this.setCustomValidity('Pole spracovateľa nesmie byť prázdny.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{resultsManager}" th:class="input-box" placeholder="Spracovateľ výsledkov" th:type="text">
                                </label>
                            </div>

                            <div th:class="input-div">
                                <label>
                                    Telefón<span th:class="necessary"> *</span>
                                    <input required
                                           oninvalid="this.setCustomValidity('Telefón nesmie byť prázdny.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{phone}" th:class="input-box" placeholder="Telefón" th:type="tel" >
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Dátum začiatku<span th:class="necessary"> *</span>
                                    <input required
                                           oninvalid="this.setCustomValidity('Dátum nesmie byť prázdny.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{startDate}" th:class="input-box" th:type="date">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Dátum konca<span th:class="necessary"> *</span>&nbsp;
                                    <input required
                                           oninvalid="this.setCustomValidity('Dátum nesmie byť prázdny.Zadaj znova')"
                                           onchange="this.setCustomValidity('')" th:field="*{endDate}" th:class="input-box" th:type="date">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Halová sezóna
                                    <input  th:field="*{raceType}"   th:id="checkboxH" th:value="0" th:class="input-box" th:type="checkbox">
                                </label>
                            </div>
                            <input style="display: none" th:field="*{activity}">
                            <button value="Editovať" type="submit" class="button-submit center">Editovať</button>
                        </div>

                        <!--                           -->

                        <div th:id="detailsBlock">
                            <div th:class="input-div">

                                <label>
                                    Riaditeľ
                                    <input   th:field="*{director}"  th:class="input-box" placeholder="Riaditeľ" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Rozhodca
                                    <input  th:field="*{arbitrator}"  th:class="input-box" placeholder="Rozhodca" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Technický delegát
                                    <input  th:field="*{technicalDelegate}"  th:class="input-box" placeholder="Technický delegát" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Poznámky
                                    <input  th:field="*{note}"  placeholder="Poznámky" th:class="input-box" th:type="text">
                                </label>
                            </div>
                        </div>

                        <!--                           -->

                        <div th:id="settingsBlock">
                            <div class="firstColumn">

                                <div th:class="input-div">
                                    <label>
                                        Typ kamery
                                        <select th:object = "${settings}" th:field="*{cameraType}" th:class="input-box" th:type="select">
                                            <option value="omega">
                                                Omega
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Typ Bodovania
                                        <select th:object = "${settings}" th:field="*{typeScoring}" th:class="input-box" th:type="select">
                                            <option value="comptetitor_race">
                                                Súťaž jednotlivcov
                                            </option>
                                            <option value="club_race">
                                                Súťaž družstiev
                                            </option>
                                            <option value="multiDisciplines">
                                                Viacboj
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Hala
                                        <input th:object = "${settings}" th:field="*{typeRace}"  th:id="checkboxH2" th:value="0" th:class="input-box" th:type="checkbox">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Mimo súťaž
                                        <input th:object = "${settings}" th:field="*{outCompetition}"  th:value="0"  th:id="checkboxO" th:class="input-box" th:type="checkbox">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Reakcie
                                        <input th:object = "${settings}" th:field="*{reactions}" th:value="0" th:id="checkboxR" th:class="input-box" th:type="checkbox">
                                    </label>
                                </div>

                            </div>

                            <!--                           -->

                            <div class="secondColumn">
                                <div th:class="input-div">
                                    <label>
                                        Počet dráh
                                        <input th:object = "${track}" th:field="*{numberOfTracks}"  th:id="tracksNumber" th:value="8" th:class="input-box" th:type="number" min="1" max="10">
                                    </label>
                                </div>
                                <hr>
                                <!--                           -->

                                <div th:id="tracks">
                                    <div   class="input-div">
                                        <label>
                                            1.
                                            <input  th:object = "${track}" th:field="*{one}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="6">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            2.
                                            <input  th:object = "${track}" th:field="*{two}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="4">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            3.
                                            <input  th:object = "${track}" th:field="*{three}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="2">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            4.
                                            <input  th:object = "${track}" th:field="*{four}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="1">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            5.
                                            <input  th:object = "${track}" th:field="*{five}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="3">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            6.
                                            <input  th:object = "${track}" th:field="*{six}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="5">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            7.
                                            <input  th:object = "${track}" th:field="*{seven}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="7">
                                        </label>
                                    </div>
                                    <div   class="input-div">
                                        <label>
                                            8.
                                            <input  th:object = "${track}" th:field="*{eight}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="8">
                                        </label>
                                    </div>
                                    <div   class="input-div hidden">
                                        <label>
                                            9.
                                            <input  th:object = "${track}" th:field="*{nine}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="9">
                                        </label>
                                    </div>
                                    <div   class="input-div hidden">
                                        <label>
                                            10.
                                            <input  th:object = "${track}" th:field="*{ten}" th:class="input-box" th:type="number" style="display: inline-block "  min="1" max="10" th:value="10">
                                        </label>
                                    </div>


                                </div>

                            </div>

                            <!--                           -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay" class="active"></div>

<script th:src="@{/js/editRace.js}"></script>
</body>
</html>