<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Systém pre organizáciu Atl.Pretekov</title>
    <link th:rel="icon"
          th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">


</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Preteky</a>
        <a href="#news">Disciplíny</a>
        <a href="#contact">Prihlášky</a>
        <a href="#about">Výsledky</a>
    </div>

    <main>

        <div th:class="activeRace">
            <a href="#">
            <div th:class="raceService">MSR Slovenska - Bratislava - 1.1.2020 - 2.1.2020</div>
            </a>
        </div>

        <div th:class="heading_t">
            <!-- aktivny pretek -->

                <div th:id="addRace" th:class="addRace">

                        <label th:class="div-button">
                            <img alt="addRace" class="plus" th:src="@{/images/plus.png}">
                        Nový pretek
                        </label>


                </div>

            <div th:id="editActiveRace" th:class="editActiveRace">

                    <label th:class="div-button">
                        <img alt="addRace" class="plus" th:src="@{/images/Editing-Edit-icon.png}">
                    Editovať závod
                    </label>
            </div>
            <div th:class="search">

                    <label>
                        <img alt="searchRace" class="plus" th:src="@{/images/Search-icon.png}">
                        Hladať pretek
                        <input th:id="searchRace" type="text" placeholder="Vyhladať závod">
                    </label>

            </div>
            <div th:class="minDate">

                    <label th:for="from">
                        <img alt="addRace" class="plus" th:src="@{/images/date-and-time.png}"> odkedy
                    <input th:id="from" type="date">
                    </label>

            </div>
            <div th:class="maxDate">

                    <label th:for="to">
                        <img alt="addRace" class="plus" th:src="@{/images/date-and-time.png}"> dokedy
                    <input th:id="to" type="date">
                    </label>


            </div>
        </div>
        <hr>

        <table th:id="table">
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Názov</th>
                <th>Miesto konania</th>
                <th>Organizátor</th>
            </tr>
            <tr>
                <th>11.2.2020</th>
                <th>Msr Slovenska</th>
                <th>Trnava</th>
                <th>AZB</th>
                <th><img alt="active" class="activeButton" th:src="@{/images/active.png}"></th>
                <th><img alt="active" class="activatedButton" th:src="@{/images/edit.png}"></th>
                <th><img alt="active" class="activatedButton" th:src="@{/images/delete.png}"></th>
            </tr>
            <tr>
                <th>07.11.2020</th>
                <th>Chodecké preteky</th>
                <th>Nitra</th>
                <th>ŠOG Nitra</th>
                <th><img alt="active" class="activeButton" th:src="@{/images/active.png}"></th>
                <th><img alt="active" class="activatedButton" th:src="@{/images/edit.png}"></th>
                <th><img alt="active" class="activatedButton" th:src="@{/images/delete.png}"></th>
            </tr>
            <tr>
                <th>14.11.2020</th>
                <th>XIII. ročník Memoriálu Š.Kotiana</th>
                <th>Ráztočno-Morovno</th>
                <th>ZSAZ</th>
                <th><img alt="active" class="activeButton" th:src="@{/images/active.png}"></th>
                <th><img alt="active" class="activatedButton" th:src="@{/images/edit.png}"></th>
                <th><img alt="active" class="activatedButton" th:src="@{/images/delete.png}"></th>
            </tr>


            </thead>
        </table>
    </main>
    <section>
        <form th:action="@{/}" method="post" th:object = "${raceRegister}">
            <div th:id="behind-scene" class="behind-scene">
                <div th:id="behind-scene-header" th:class="behind-scene-header">
                    <div th:class="inlineDescription">
                        <div th:id="first" class="first div-button">
                            Registrácia
                        </div>
                        <div th:id="second" class="second div-button">
                            Detaily
                        </div>
                        <div th:id="third" class="third div-button">
                            Nastavenia
                        </div>
                    </div>
                    <div th:id="title" th:class="title">
                        Registrácia preteku
                        <div th:class="exit">
                            <img th:id="exit"  th:class="exit" th:src="@{images/exit.png}" alt="exit">
                        </div>

                    </div>

                    <div th:id="behind-scene-body" th:class="behind-scene-body">
                        <div th:class="center">

                            <div th:id="registrationBlock">
                                <div th:class="input-div">
                                    <label>
                                        Názov závodu<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Názov nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{raceName}" th:class="input-box" placeholder="Názov závodu" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Miesto Konania<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Miesto nesmie byť prázdne.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{place}" th:class="input-box" placeholder="Miesto konania" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Organizátor<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Pole organizátora nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{organizer}" th:class="input-box" placeholder="Organizátor" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Spracovateľ výsledkov<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Pole spracovateľa nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{resultsManager}" th:class="input-box" placeholder="Spracovateľ výsledkov" th:type="text">
                                    </label>
                                </div>

                                <div th:class="input-div">
                                    <label>
                                        Telefón<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Telefón nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{phone}" th:class="input-box" placeholder="Telefón" th:type="tel" >
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Dátum začiatku<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Dátum nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{startDate}" th:class="input-box" th:type="date">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Dátum konca<span th:class="necessary"> *</span>&nbsp;
                                        <input required
                                               oninvalid="this.setCustomValidity('Dátum nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{endDate}" th:class="input-box" th:type="date">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Halová sezóna
                                        <input th:id="checkboxH" th:value="false" th:class="input-box" th:type="checkbox">
                                    </label>
                                </div>
                                <button value="Vytvoriť" type="submit" class="button-submit center">Vytvoriť</button>
                            </div>

                            <!--                           -->

                            <div th:id="detailsBlock">
                                <div th:class="input-div">

                                    <label>
                                        Riaditeľ
                                        <input th:class="input-box" placeholder="Riaditeľ" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Rozhodca
                                        <input th:class="input-box" placeholder="Rozhodca" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Technický delegát
                                        <input th:class="input-box" placeholder="Technický delegát" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Poznámky
                                        <input placeholder="Poznámky" th:class="input-box" th:type="text">
                                    </label>
                                </div>
                            </div>

                            <!--                           -->

                            <div th:id="settingsBlock">
                                <div class="firstColumn">

                                    <div th:class="input-div">
                                        <label>
                                            Typ kamery
                                            <select th:object = "${settingsRegister}" th:field="*{cameraType}" th:class="input-box" th:type="select">
                                                <option value="omega">
                                                    Omega
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                    <div th:class="input-div">
                                        <label>
                                            Typ Bodovania
                                            <select th:object = "${settingsRegister}" th:field="*{typeScoring}" th:class="input-box" th:type="select">
                                                <option value="comptetitor_race">
                                                    Súťaž jednotlivcov
                                                </option>
                                                <option value="club_race">
                                                    Súťaž družstiev
                                                </option>
                                                <option value="multiDisciplines">
                                                    Viacboj
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                    <div th:class="input-div">
                                        <label>
                                            Hala
                                            <input th:id="checkboxH2" th:value="false" th:class="input-box" th:type="checkbox">
                                        </label>
                                    </div>
                                    <div th:class="input-div">
                                        <label>
                                            Mimo súťaž
                                            <input   th:id="checkboxO" th:class="input-box" th:type="checkbox">
                                        </label>
                                    </div>
                                    <div th:class="input-div">
                                        <label>
                                             Reakcie
                                            <input  th:id="checkboxR" th:class="input-box" th:type="checkbox">
                                        </label>
                                    </div>

                                </div>

                                <!--                           -->

                                <div class="secondColumn">
                                    <div th:class="input-div">
                                        <label>
                                            Počet dráh
                                            <input th:object = "${trackDto}" th:field="*{numberOfTracks}"  th:id="tracksNumber" th:value="8" th:class="input-box" th:type="number" min="1" max="10">
                                        </label>
                                    </div>

                                    <!--                           -->

                                    <div th:id="tracks">

                                     </div>
                                 </div>

                            <!--                           -->

                             </div>
                         </div>
                </div>
                </div>
            </div>
        </form>
    </section>

    <footer th:class="footer">
        ©PeterRigoDevelopment
    </footer>
    <div th:id="overlay"></div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>