<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Disciplíny</title>
    <link th:rel="icon"
          th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/css/discipline.css}">
    <link th:rel="stylesheet" th:href="@{/css/autocomplete.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/dataTables/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/dataTables/datatables.min.js}"></script>




</head>
<body>

<div class="topnav">
    <a href="/">Preteky</a>
    <a class="active" href="/disciplines">Disciplíny</a>
    <a href="/applications">Prihlášky</a>
    <a href="/results">Výsledky</a>
    <a href="#" onclick="openNav()">Databáza klubov a pretekárov</a>
    <a href="/disciplines/schedule">Časový poriadok</a>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/participants">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="#">Stiahnuť databázu</a>
    <a href="/contact">Kontakt</a>

</div>

<main th:id="main">
    <div th:class="activeRace">
        <a href="#">
            <div th:class="raceService"><span th:text="${activeRace.raceName}"></span> - <span th:text="${activeRace.place}"></span> - <span th:text="${activeRace.returnStartDate()}"></span> - <span th:text="${activeRace.returnEndDate()}"></span></div>

        </a>
    </div>
    <div th:class="heading_t">
        <!-- aktivny pretek -->
        <div th:id="addRace" th:class="addRace">

                    <select th:id="day"  th:class="input-box" th:type="select">
                        <option value="Deň">
                            Deň
                        </option>
                    </select>
        </div>
        <div th:id="editActiveRace" th:class="editActiveRace">
                    <select   th:class="input-box" th:type="select">
                        <option value="Vyber">
                            Disciplína
                        </option>
                        <option value="Behy">
                            Behy
                        </option>
                        <option value="Skoky">
                            Skoky
                        </option>
                        <option value="Vrhy,hody">
                            Vrhy,hody
                        </option>
                    </select>
        </div>
        <div th:class="search">

                <select  th:class="input-box" th:type="select">
                    <option value="Kategória">
                        Kategória
                    </option>
                    <option value="Muži">
                        Muži
                    </option>
                    <option value="Ženy">
                        Ženy
                    </option>
                </select>

        </div>
    </div>
    <br><br>
    <div th:class="heading_t">
        <div id="slider"></div>
    </div>
    <div th:class="heading_t">
        <!-- aktivny pretek -->
        <div th:id="addDiscipline" th:class="addRace">
            <a>
                <label style="color: blue" th:class="div-button">
                    <img alt="addDiscipline" class="plus" th:src="@{/images/plus.png}">
                    Nová disciplína
                </label>
            </a>

        </div>
    </div>

    <hr>

    <table th:id="table">
        <thead>
            <tr th:id="first_tr">
                <th>Čas začiatku</th>
                <th>Počet pretekárov</th>
                <th>Názov Disciplíny</th>
                <th>Kategória</th>
                <th>Poznámky</th>
                <th th:class="settings-columns">Manažovať</th>
                <th th:class="settings-columns">Editovať</th>
                <th th:class="settings-columns">Zmazať</th>
            </tr>
        </thead>
        <tbody>
            <tr  th:each="disciplineList: ${disciplines}"  >
                <td th:text="${disciplineList.time}"></td>
                <td th:text="${disciplineList.participants}"></td>
                <td th:text="${disciplineList.disciplineName}"></td>
                <td th:text="${disciplineList.category}"></td>
                <td th:text="${disciplineList.note}"></td>
                <td><a  th:href="@{disciplines/manage/phases/{id}(id=${disciplineList.getId()})} "><img th:type="button" alt="active"  class="activatedButton" th:src="@{/images/Settings-icon.png}"></a></td>
                <td><a  th:href="@{disciplines/edit/{id}(id=${disciplineList.getId()})} "><img th:type="button" alt="active"  class="activatedButton" th:src="@{/images/edit.png}"></a></td>
                <td><a  onclick="return confirm('Naozaj chcete túto disciplínu vymazať?')" th:href="@{disciplines/delete/{id}(id=${disciplineList.getId()})} "><img alt="active" class="activatedButton" th:src="@{/images/delete.png}"></a></td>
            </tr>
        </tbody>

    </table>
    <section>
        <form th:action="@{'/disciplines/save'}" th:object="${discipline}" method="post">
            <div th:id="behind-scene" class="behind-scene">
                <div th:id="behind-scene-header" th:class="behind-scene-header">
                  
                    <div th:id="title" th:class="title" style="font-size: 30px">
                        Nová disciplína
                        <div th:class="exit">
                            <a><img th:id="exit"  th:class="exit" th:src="@{/images/exit.png}" alt="exit"></a>
                        </div>

                    </div>

                    <div th:id="behind-scene-body" th:class="behind-scene-body">
                        <div th:class="center">
                            <div th:id="registrationBlock">
                                <div th:class="input-div">
                                    <label>
                                        Čas štartu<span th:class="necessary"> *</span>
                                        <input required autocomplete="off"
                                               oninvalid="this.setCustomValidity('Čas nesmie byť prázdny')"
                                               onchange="this.setCustomValidity('')" th:field="*{time}"  placeholder="Čas štartu" th:type="time">
                                    </label>
                                </div>
                                <div class="autocomplete">
                                    <label>
                                        Názov disciplíny<span th:class="necessary"> *</span>
                                        <input  th:id="disciplineName" required  autocomplete="off"
                                               oninvalid="this.setCustomValidity('Názov nesmie byť prázdny.')"
                                               onchange="this.setCustomValidity('')" th:field="*{disciplineName}"  th:class="input-box" placeholder="Disciplína" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div"  class="autocomplete" style="position: relative">
                                    <label>
                                        Kategória<span th:class="necessary"> *</span>
                                        <input th:id="categoryName" required autocomplete="off"
                                               oninvalid="this.setCustomValidity('Kategória musí byť vyplnená.')"
                                               onchange="this.setCustomValidity('')" th:field="*{category}" th:class="input-box" placeholder="Kategória" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Poznámka
                                        <input autocomplete="off" th:field="*{note}"    placeholder="Poznámky" th:class="input-box" th:type="text">
                                    </label>
                                </div>

                                <button value="Vytvoriť" type="submit" class="button-submit center">Vytvoriť</button>
                            </div>
                            <!--                           -->
                                    </div>

                                </div>

                                <!--                           -->

                            </div>
                        </div>

        </form>
    </section>
    <div style="height: 25px"></div>
</main>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay" ></div>

<script th:src="@{/js/autocomplete.js}"></script>
<script th:src="@{/js/discipline.js}"></script>
<script th:src="@{/js/sideMenu.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/tables_new.css}"/>

</body>
</html>