<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Disciplíny</title>
    <link th:rel="icon"
          th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>

<div class="topnav">
    <a href="/">Preteky</a>
    <a class="active" href="/disciplines">Disciplíny</a>
    <a href="/applications">Prihlášky</a>
    <a href="/results">Výsledky</a>
</div>

<main>
    <div th:class="activeRace">
        <a href="#">
            <div th:class="raceService"><span th:text="${activeRace.raceName}"></span> - <span th:text="${activeRace.place}"></span> - <span th:text="${activeRace.returnStartDate()}"></span> - <span th:text="${activeRace.returnEndDate()}"></span></div>
        </a>
    </div>
    <div th:class="heading_t">
        <!-- aktivny pretek -->

        <div th:id="addDiscipline" th:class="addRace">
            <a>
                <label style="color: blue" th:class="div-button">
                    <img alt="addDiscipline" class="plus" th:src="@{/images/plus.png}">
                    Nová disciplína
                </label>
            </a>

        </div>
    </div>

    <hr>

    <table th:id="table">
        <thead>
        <tr>
            <th>Čas</th>
            <th>Názov Disciplíny</th>
            <th>Kategória,fáza,poradie fázy</th>
            <th>Poznámky</th>
        </tr>
        </thead>
    </table>
</main>
<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay"></div>

<script th:src="@{/js/index.js}"></script>

</body>
</html>