<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Systém pre organizáciu Atl.Pretekov</title>
    <link th:rel="icon" th:href="@{images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/css/discipline.css}">
    <link th:rel="stylesheet" th:href="@{/css/autocomplete.css}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/sideMenu.css}">
</head>
<body>

<div class="topnav">
    <a  href="#home">Preteky</a>
    <a class="active" href="#news">Disciplíny</a>
    <a href="#contact">Prihlášky</a>
    <a href="#about">Výsledky</a>
    <a href="#" onclick="openNav()">Databáza klubov a pretekárov</a>
    <a href="/disciplines/schedule">Časový poriadok</a>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/participants">Pretekári</a>
    <a href="/clubs">Kluby</a>
    <a href="#">Stiahnuť databázu</a>
    <a href="/contact">Kontakt</a>
</div>
<main th:id="main">
</main>
<section>
    <form th:action="@{'/disciplines/save'}" th:object="${discipline}" method="post">
        <div th:id="behind-scene" class="behind-scene active">
            <div th:id="behind-scene-header" th:class="behind-scene-header">

                <div th:id="title" th:class="title" style="font-size: 30px">
                    Editovať disciplínu
                    <div th:class="exit">
                        <a th:href="@{/disciplines}"><img th:id="exit"  th:class="exit" th:src="@{/images/exit.png}" alt="exit"></a>
                    </div>

                </div>

                <div th:id="behind-scene-body" th:class="behind-scene-body">
                    <div th:class="center">
                        <div th:id="registrationBlock">
                            <div style="display: none" th:class="input-div">
                                    <input readonly="readonly" th:field="*{participants}" th:class="input-box" th:type="text">
                            </div>
                            <div style="display: none" th:class="input-div">
                                <input readonly="readonly" th:field="*{id}" th:class="input-box" th:type="text">
                            </div>


                            <div th:class="input-div">
                                <label>
                                    Čas štartu<span th:class="necessary"> *</span>
                                    <input required autocomplete="off"
                                           oninvalid="this.setCustomValidity('Čas nesmie byť prázdny.')"
                                           onchange="this.setCustomValidity('')" th:field="*{time}"  placeholder="Čas štartu" th:type="time">
                                </label>
                            </div>
                            <div  class="autocomplete">
                                <label>
                                    Názov disciplíny<span th:class="necessary"> *</span>
                                    <input required autocomplete="off" th:id="disciplineName"
                                           oninvalid="this.setCustomValidity('Názov nesmie byť prázdny.')"
                                           onchange="this.setCustomValidity('')" th:field="*{disciplineName}"  th:class="input-box" placeholder="Disciplína" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div" style="position: relative">
                                <label>
                                    Kategória<span th:class="necessary"> *</span>
                                    <input th:id="categoryName" required autocomplete="off"
                                           oninvalid="this.setCustomValidity('Kategória musí byť vyplnená.')"
                                           onchange="this.setCustomValidity('')" th:field="*{category}" th:class="input-box" placeholder="Kategória" th:type="text">
                                </label>
                            </div>
                            <div th:class="input-div">
                                <label>
                                    Poznámka
                                    <input th:field="*{note}"    placeholder="Poznámky" th:class="input-box" th:type="text">
                                </label>
                            </div>
                            <button value="Editovať" type="submit" class="button-submit center">Editovať</button>
                        </div>
                        <!--                           -->
                    </div>

                </div>

                <!--                           -->

            </div>
        </div>

    </form>
</section>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay" class="active"></div>

<script th:src="@{/js/editRace.js}"></script>
<script th:src="@{/js/autocomplete.js}"></script>
<script th:src="@{/js/disciplineEdit.js}"></script>
<script th:src="@{/js/sideMenu.js}"></script>
</body>
</html>