<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Disciplíny</title>
    <link th:rel="icon"
          th:href="@{/images/race.png}">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/css/discipline.css}">
    <link th:rel="stylesheet" th:href="@{/css/phases.css}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>

<div class="topnav">
    <a href="/">Preteky</a>
    <a class="active" href="/disciplines">Disciplíny</a>
    <a href="/applications">Prihlášky</a>
    <a href="/results">Výsledky</a>
</div>

<main>
    <section>
        <form th:action="@{'/disciplines/manage/phases/'+${discipline.id}+'/editPhase/'+${phase.id}+}" th:object="${phase}" method="post">
            <div th:id="behind-scene" class="behind-scene active">
                <div th:id="behind-scene-header" th:class="behind-scene-header">
                    <div th:class="inlineDescription">
                        <div th:id="first"  class="first div-button">
                            Fáza
                        </div>
                        <div th:id="second" class="second div-button">
                            Nastavenia
                        </div>
                    </div>
                    <div th:id="title" style="font-size: 30px" th:class="title">
                        Editovať fázu
                        <div th:class="exit">
                            <a th:href="@{'/disciplines/manage/phases/'+${id}}"> <img th:id="exit"  th:class="exit" th:src="@{/images/exit.png}" alt="exit"></a>
                        </div>

                    </div>

                    <div th:id="behind-scene-body" th:class="behind-scene-body">
                        <div th:class="center">

                            <div th:id="phaseBlock">
                                <div th:class="input-div">
                                    <label>
                                        Čas štartu<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Čas štartu nesmie byť prázdne.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{time}" th:class="input-box" placeholder="Čas štartu" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Názov fázy<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Názov fázy nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{phaseName}" th:class="input-box" placeholder="Názov fázy" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Číslo fázy<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Číslo fázy nesmie byť prázdne.Zadaj znova')"
                                               onchange="this.setCustomValidity('')"
                                               th:field="*{phaseNumber}" th:class="input-box" placeholder="Číslo fázy" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Poznámka<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Poznámka nesmie byť prázdna.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" placeholder="Poznámka" th:field="*{note}" th:class="input-box" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        Deň<span th:class="necessary"> *</span>
                                        <input required
                                               oninvalid="this.setCustomValidity('Dátum nesmie byť prázdny.Zadaj znova')"
                                               onchange="this.setCustomValidity('')" th:field="*{day}" th:class="input-box" th:type="date">
                                    </label>
                                </div>
                                <button value="Vytvoriť" type="submit" class="button-submit center">Vytvoriť</button>
                            </div>

                            <!--                           -->

                            <div th:id="settingsBlock">
                                <div th:class="input-div">
                                    <label>
                                        Q_place - prví "xxx" podľa umiestnenia v rozbehoch
                                        <input  th:field="*{settingsQPlace}"    th:class="input-box" placeholder="xxx" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        q_place - prví "xxx" podľa časov(za Q) celkovo
                                        <input  th:field="*{settingsQTime}"  th:class="input-box" placeholder="xxx" th:type="text">
                                    </label>
                                </div>
                                <div th:class="input-div">
                                    <label>
                                        ID fázy kde sa postupuje
                                        <input th:field="*{settingsIdAdvance}" th:class="input-box" placeholder="ID" th:type="text">
                                    </label>
                                </div>
                            </div>
                            <!--                           -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </section>
</main>

<footer th:class="footer">
    ©PeterRigoDevelopment
</footer>
<div th:id="overlay" class="active" ></div>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/phase.js}"></script>
</body>
</html>