/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
table {
    font-family: Roboto,sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
td, th {
    width:20%;
    height:50px;
    text-align: left;
}

tr:nth-child(even) {

    background-color: #dddddd;
}
.raceService{
    color: green;
    font-size: 20px;
}
.activeRace{
    padding-top: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.race{
    font-size: 20px;
    color: #4CAF50;
    display: inline;
}
a:hover{
    opacity: 0.5;
}
a:link,a:visited{
    text-decoration: none;
}
.heading_t{
    width: 100%;
    display: inline-block;
}
.addRace{
    color: blue;
    font-size: 20px;
    display: inline-block;
    width: 20%;
}
.editActiveRace{
    color: blue;
    font-size: 20px;
    display: inline-block;
    width: 20%;

}
.search{
    color: blue;
    font-size: 20px;
    display: inline-block;
    width: 25%;


}
.minDate{
    color: blue;
    font-size: 20px;
    display: inline-block;
    width: 15%;

}
.maxDate{
    color: blue;
    font-size: 20px;
    display: inline-block;
    width: 15%;

}
.plus{
    top: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.activeButton{
    top: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.activatedButton{
    top: 50px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 50px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
.div-button:visited{

}
.div-button:hover{
    color: green;
    opacity: 0.9;
    background: #94b5d9;
}
.behind-scene{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;

    max-width: 80%;
}
.behind-scene-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.behind-scene-body{
    width: 100%;
    padding:10px 15px;
}
.behind-scene.active{
    transform: translate(-50%,-50%) scale(1);
}
.exit{
     float: right;
     width: 50px;
     height: 50px;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.behind-scene-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.input-div{
    padding-bottom: 20px;
}
.input-box{
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 5px;
}
