.stuck {
    position: fixed;
    top: 180px;
    left: 0;
    height: 75vh;
    max-height: 100%;
    width: 190px;
    background-color: #eee;
    overflow-y: scroll;
    margin: 10px;

}
.stuck p {
    margin: 10px;
}
.not-stuck {
    margin-left: 150px;
    width: 80%;
    flex: 10;
    height: 48vh;
    overflow: scroll;

}
.stable {
    margin-left: 150px;
    width: 80%;
}
table{
    width: 100%;

}
td{
    text-align: right;
    background-color: white;
}
